* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: 1.5rem;
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

h1, h2, p {
    /* text-align: center; */
    margin: 10px;
}

nav {
    padding: 1rem;
    background-color: #44b78b;
    color: white;
    font-size: 2.5rem;
}

main {
    display: flex;
    place-content: left;
}

a {
    text-decoration: none;
    color: #81dbb8;
}

a:hover {
    opacity: .85;
}