* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: 2rem;
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

h1, p {
    text-align: right;
}

nav {
    padding: 1rem;
    background-color: #44b78b;
    color: white;
    font-size: 2.5rem;
}

main {
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #81dbb8;
}

a:hover {
    opacity: .85;
}