* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    /* font-size: 1.5rem; */
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

article, h1 {
    margin-bottom: 10px;
    /* text-align: center; */
}

nav {
    padding: 1rem;
    background-color: #44b78b;
    color: white;
    font-size: 2.5rem;
}

main {
    margin: 10px;
    /* display: flex;
    place-content: left;
    flex-direction: row; */
    
}

a {
    text-decoration: none;
    color: #81dbb8;
}

a:hover {
    opacity: .85;
}

.banner {
    display: block;
    width: 100%;
    max-width: 800px;
}

/* Portfolio CSS */
.container {
    /* background-color: azure; */
}