{% extends 'layout.html' %}

{% block title %}
    My Portfolio
{% endblock %}

{% block content %}
{% load static %}
        <br>
        <div class='container'>
            <div class='row'>
                <div class='col-md-3'>
                    <div class="card card-body" id="profile-wrapper">
                        <img id="profile-pic" src="{% static 'images/fallback.jpg' %}" alt="">
                        <br>
                        <h4>Hi I'm Abdul</h4>
                        <p id="about-me">I love coding, doing research and collaborating.</p>
                    </div>
                </div>
                <div class='col-md-9'>
                    <div class="card card-body">
                        <h4>My First Job as a Developer</h4>
                        <br>
                        <p>2 years after writing my first "Hello World" program on August 12th 2025 (while on a holiday from varsity) I had a family friend who opened a new restaurant and I reached out to him and offered to build a website for his shop.</p>
                        <p>This charity gig turned out great and I got patronized by them and got another offer from another food restaurant to build a fine food ordering web-app.</p>
                        <p>I'm really glad I did that, from one charitable work to high paying recommendations.</p>
                        <ul class="social-links">
                            <li><img src="{% static 'images/facebook.png' %}" alt=""></li>
                            <li><img src="{% static 'images/linkedin.png' %}" alt=""></li>
                            <li><img src="{% static 'images/twitter.png' %}" alt=""></li>
                            <li><img src="{% static 'images/youtube.png' %}" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col-md-6'>
                    <div class="card card-body">
                        <h5>My Experience as a Developer</h5>
                        <hr>
                        <p>Full stack developer at Nudge Studio.</p>
                        <p>Designed, built and manage a Food E-Commerce web-app as a sole developer. System supported order placement and confirmation (dine-in, pickup and delivery) payment and receipt generation, real-time routing for delivery from rider to customer.</p>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class="card card-body">
                        <h5>What I Know</h5>
                        <hr>
                        <p>Python, Djnago, HTML/CSS, JavaScript, React, Postgres, AWS and APIs such as google maps JavaScript charts and a whole bunch more I can't possibly mention it in one sentence! :)</p>
                    </div>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col-md-6'>
                    <div class="card card-body">
                        <h5>How I learn</h5>
                        <hr>
                        <p>Reverse Engineer & Build ugly Prototypes First.</p>
                        <p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class="card card-body">
                        <h5>My Short Term Goals</h5>
                        <hr>
                        <p>After almost two years of supporting my system at the </p>
                    </div>
                </div>
            </div>
            <br>
        </div>
{% endblock %}