{% extends 'layout.html' %}

{% block title %}
    Register a New user
{% endblock %}

{% block content %}
        <br>
        <div class='container'>
            <div class='row'>
                <div class='col-md-3'>
                    <div class="card card-body"></div>
                </div>
                <div class='col-md-9'>
                    <div class="card card-body"></div>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col-md-6'>
                    <div class="card card-body"></div>
                </div>
                <div class='col-md-6'>
                    <div class="card card-body"></div>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col-md-6'>
                    <div class="card card-body"></div>
                </div>
                <div class='col-md-6'>
                    <div class="card card-body"></div>
                </div>
            </div>
            <br>
        </div>
{% endblock %}